---
import { GITHUB_URL } from "@/utils/consts";

export interface ProjectProps {
  title: string;
  description: string;
  techStack: string;
  imgSrc: string;
  githubHref: string;
  domainHref?: string;
  domainName?: string;
  imgPosition: "left" | "right";
}

const {
  description,
  imgSrc,
  techStack,
  title,
  githubHref,
  domainHref,
  domainName,
  imgPosition,
} = Astro.props as ProjectProps;
---

<div class={`project w-full h-fit flex gap-8 lg:flex-row ${imgSrc && imgPosition === "left" ? "flex-col-reverse" : "flex-col"}`}>
  {
    imgSrc && imgPosition === "left" ? (
      <img src={imgSrc} alt="project image" class="projects__img w-full lg:max-w-[40%]" />
    ) : (
      ""
    )
  }
  <div class={`project__text flex w-fit flex-col`}>
    <h4 class="project__title text-[1.5rem] sm:text-[1.7rem] md:text-[2rem] lg:text-[2.3rem]">
      {title}
    </h4>
    <p class="project__description text-[1rem] sm:text-[1.4rem]">
      {description}
    </p>
    <p class="project__techStack">
      Tech stack: {techStack}
    </p>
    <a href={GITHUB_URL + githubHref}>GitHub repository</a>
    {domainHref ? <a href={domainHref}>{domainName}</a> : ""}
  </div>
  {
    imgSrc && imgPosition === "right" ? (
      <img src={imgSrc} alt="project image" class="projects__img w-full lg:max-w-[40%]" />
    ) : (
      ""
    )
  }
</div>
