---
import { GITHUB_URL } from "@/utils/consts";

export interface ProjectProps {
  title: string;
  description: string;
  techStack: string;
  imgSrc: string;
  githubHref: string;
  domainHref?: string;
  domainName?: string;
}

const { description, imgSrc, techStack, title, githubHref, domainHref, domainName } =
  Astro.props as ProjectProps;
---

<div class="project w-full h-fit">
  <h4 class="project__title text-[2rem]">
    {title}
  </h4>
  <p class="project__description">
    {description}
  </p>
  <p class="project__techStack">
    {techStack}
  </p>
  <a href={GITHUB_URL + githubHref}>github</a>
  {domainHref ? <a href={domainHref}>{domainName}</a> : ""}
  <img src={imgSrc} alt="project image" />
</div>
