---
import { GITHUB_URL } from "@/utils/consts";

export interface ProjectProps {
  title: string;
  description: string;
  techStack: string;
  imgSrc?: string;
  githubHref: string;
  domainHref?: string;
  domainName?: string;
}

const {
  description,
  imgSrc,
  techStack,
  title,
  githubHref,
  domainHref,
  domainName,
} = Astro.props as ProjectProps;
---

<div
  class={`project w-full h-fit flex gap-8 lg:flex-row items-center flex-col`}
>
  <div class={`project__text flex w-full flex-col gap-2`}>
    <h4
      class="project__title text-[1.5rem] sm:text-[1.7rem] md:text-[2rem] lg:text-[2.3rem]"
    >
      {title}
    </h4>
    <p class="project__description projectText">
      {description}
    </p>
    <p class="project__techStack projectText">
      Tech stack: {techStack}
    </p>
    <a href={GITHUB_URL + githubHref} class="project__link underline font-bold projectText"
      >GitHub repository</a
    >
    {
      domainHref ? (
        <a
          href={domainHref}
          class="project__link underline font-bold projectText"
        >
          Check out {domainName}
        </a>
      ) : (
        ""
      )
    }
  </div>
  {
    imgSrc ? (
      <img
        src={imgSrc}
        alt="project image"
        class="projects__img w-full h-min lg:max-w-[40%] 2xl:max-w-[500px]"
      />
    ) : (
      ""
    )
  }
</div>

<style lang="css">
  .projectText {
    @apply text-[0.9rem] sm:text-[1rem] md:text-[1.1rem] lg:text-[1.3rem];
  }
</style>
